<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('ZTcss',{}); %>
    <title>主页</title>
</head>

<body>
  <div class="layui-container">
    <div class="layui-row">
      <%- include('headbody',{userName}); %>
        <table class="layui-table" lay-skin="line" lay-size="lg">
          <colgroup>
            <col width="150">
            <col width="200">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>标题</th>
              <th>创造时间</th>
              <th>内容</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% data.blogList.map(item=>{ %>
              <tr>
                <td>
                  <%= item.title %>
                </td>
                <td>
                  <%= item.time %>
                </td>
                <td>
                  <%- item.content %>
                </td>
                <td>
                  <a href="#">编辑</a>
                  <a href="#">删除</a>
                </td>
                <% }) %>
              </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <% for(let i=1;i<=data.pageTotle;i++){%>
            <a href="/?page=<%=i%>" class="<%- data.currPage==i?'active':''%>" style="color: white;">
              <%- i%>
            </a>
            <%}%>
        </div>
    </div>
  </div>
</body>

</html>